<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ib/IdeaProjects/ProjetZoo">
        <classes>
            <class name="TestAnimal"></class>
            <class name="TestEspece"></class>
            <class name="TestZoo"></class>
        </classes>
    </test>
</suite>